# Dependencias
/node_modules

# Archivos de entorno
.env
.env.*
!.env.example

# Directorios de persistencia de Docker que no deben versionarse
/strapidata
/app
/build
/.cache
/tmp

# Archivos generados por el sistema o el IDE
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de cobertura de pruebas
/coverage
/.nyc_output

# Archivos de configuración de Strapi específicos del entorno
/extensions
/public/uploads

# Archivos de compilación
/dist
